<mat-toolbar style="background-color: #253c59">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.opened = !sidenav.opened">
      <mat-icon style="color: white">more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="sidenav" opened mode="side">
    <mat-list>
      <div mat-subheader>Cadastro</div>
      <mat-list-item>
        <div mat-line><span routerLink="">Produtos</span></div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line><span routerLink="/category">Categoria de Produtos</span></div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Dashboard</div>
      <mat-list-item *ngFor="let note of messages">
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>
          <span>{{ note }}</span>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <router-outlet> </router-outlet>
  <app-teste></app-teste>

</mat-sidenav-container>

