<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Nome do produto" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Preço" />
  </mat-form-field>

  <mat-form-field>
    <textarea id="txt-desc" matInput placeholder="Descrição"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Categoria">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Imagem" />
  </mat-form-field>
</div>
